:root {
  --bg: #ddd;
  --black: #333;
  --white: #fff;
  --green: #017143;

  --swiper-navigation-size: 22px;
  --swiper-navigation-color: var(--bg);
    
  --swiper-pagination-color: var(--green);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Poppins', sans-serif !important;
}

body, html {
  overflow-x: hidden;
  background-color: var(--bg);
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 9px;
  background: var(--bg);
}

::-webkit-scrollbar-thumb {
  background: var(--green);
}


// .back-video {
//   position: absolute;
//   right: 0;
//   bottom: 0;
//   min-width: 100%;
//   min-height: 100%;
//   width: auto;
//   height: auto;
//   z-index: -100;
// }