:root {
  --bg: #ddd;
  --black: #333;
  --white: #fff;
  --green: #017143;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Poppins', sans-serif;
}

body, html {
  overflow-x: hidden;
  background-color: var(--bg);
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 9px;
  background: var(--bg);
}

::-webkit-scrollbar-thumb {
  background: var(--black);
  border-radius: 2rem;
}


// .back-video {
//   position: absolute;
//   right: 0;
//   bottom: 0;
//   min-width: 100%;
//   min-height: 100%;
//   width: auto;
//   height: auto;
//   z-index: -100;
// }