.menu {
  width: 100vw;
  height: 100vh;

  color: var(--black);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  div.header_texts {
    text-align: center;

    a {
      color: var(--green);
      text-decoration: underline;
      font-weight: 600;

      transition: 0.3s;

      &:hover {
        text-decoration: none;
      }
    }

    p {
      margin-top: 1.4rem;
      font-size: 0.9rem;
      font-weight: 300;
    }
  }

  div.options {
    margin-top: 3.15rem;

    display: flex;
    flex-direction: row;
    gap: 3.8rem;

    > div {

      &.digital {
        transform: scale(1.1);
      }
  
      min-width: 16.2rem;
      min-height: 13.2rem;
      text-align: center;

      color: var(--white);
      background: var(--green);

      border-radius: 0.5rem;
      padding: 1.25rem 1.75rem;

      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      transition: 0.3s;

      &:hover {
        transform: scale(1.15);
      }

      h2 {
        font-size: 1.4rem;
        font-weight: 400;
      }

      a {
        color: var(--green);
        background: var(--bg);

        border-radius: 1.25rem;
        padding: 0.45rem 2rem;

        transition: 0.3s;

        &:hover {
          filter: brightness(80%);
        }
      }
    }
  }

  .coffee_singa {
    width: 38rem;
    position: absolute;
    right: -300px;

    transform: rotate(-20deg);
  }

  div.coffee_choco {
    background-color: var(--green);
    border-radius: 10rem;
    width: 15rem;
    height: 15rem;

    position: absolute;
    left: -80px;
    bottom: 120px;

    display: flex;
    align-items: center;
    justify-content: center;

    img.coffee_choco {
      width: 27rem;
      object-fit: cover;
      transform: rotate(20deg);

      transition: 0.3s;
      
      &:hover {
        transform: rotate(20deg) scale(1.1);
      }
    }
  }
}